<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>List-Building</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-select-dt/1.4.0/select.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-buttons-dt/2.2.3/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./static/style.css" />

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<h1>List-Building Tool</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool allows one to build a list of related articles to a "seed" based on various models.</p>
						<p>Either enter a language code (e.g., <i>en</i>) and Wikipedia article title (e.g., <i>Climate change</i>) below or <i>wikidata</i> and a Wikidata item ID (e.g., <i>Q125928</i>). If you leave the title/ID field blank, the UI will select a random article in that language to evaluate.</p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="list-building-models" class="boxwidth--1-1 padded--left padded--right">
			<main id="tool_main">
				<section class="form">
					<form action="#list-building-models">
						<div class="cols cols8">
							<div class="col col3">
								{% if lang %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en or wikidata</span>
									<input type="text" value="{{lang}}" placeholder="Placeholder text" id="lang"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en or wikidata</span>
									<input type="text" value="" placeholder="Placeholder text" id="lang"/>
								</label>
								{% endif %}
							</div>
							<div class="col col3">
								{% if page_title %}
								<label class="placeholder"><span class="field_name">Page title -- e.g., Douglas Adams or Q42</span>
									<input type="text" value="{{page_title}}" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Page title -- e.g., Douglas Adams or Q42</span>
									<input type="text" value="" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								{% if k %}
								<label class="placeholder"><span class="field_name"># of results</span>
									<input type="number" value="{{k}}" placeholder="Placeholder text" id="k"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name"># of results</span>
									<input type="number" value="" placeholder="Placeholder text" id="k"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Submit" id="btnSubmit"/>
							</div>
						</div>
					</form>
				</section>
				<section class="text" id="results">
					<!-- Empty section to hold results -->
				</section>
			</main>
		</section>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a>, <a href="https://meta.wikipedia.org/wiki/User:MGerlach_(WMF)">MGerlach (WMF)</a>, and <a href="https://meta.wikipedia.org/wiki/User:Diego_(WMF)">Diego (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/list-building-interface">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Language-Agnostic_Topic_Classification">Meta</a></li>
				<li><a href="https://github.com/geohci/list-building-interface#license">License</a></li>
			</ul>
		</div>
	</footer>

	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net/2.1.1/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-select/1.4.0/dataTables.select.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-buttons/2.2.3/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-buttons/2.2.3/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables.net-buttons/2.3.4/js/buttons.colVis.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form label.placeholder').each(function() {
				if (!$('input, textarea, select', this).val()) {
	 				$(this).addClass('off');
				}
				$(this).on('focusin', function() {
					$(this).removeClass('off');
				});
				$(this).on('focusout', function() {
					if (!$('input, textarea, select', this).val()) {
						$(this).addClass('off');
					}
				});
				$('*[placeholder]', this).attr('placeholder', '');
			});
		});
	</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryListBuildingModels();
		});

		window.onload = function() {
			sessionStorage.clear();
			if (document.getElementById('lang').value && document.getElementById('page_title').value) {
				queryListBuildingModels();
			}
		}

		$( function() {
			$( "#page_title" ).autocomplete({
				source: function( request, response ) {
					$.ajax( {
						url: "https://" + document.getElementById('lang').value + ".wikipedia.org/w/api.php",
						data: {
							action: "opensearch",
							search: request.term,
							limit: 5,
							namespace: 0,
							format: "json",
							origin: "*"
						},
						success: function(data) {
							response($.map( data[1], function( item ) {
								return {
									label: item,
									value: item
								}
							}));
						}
					} );
				},
				minLength: 2,
				delay: 300  // milliseconds
			} );
		});

		var generate_permalink = function() {
			var result_url = 'https://list-building.toolforge.org/';
			result_url = result_url + '?lang=' + document.getElementById('lang').value;
			result_url = result_url + '&title=' + document.getElementById('page_title').value.replaceAll(' ', '_');
			result_url = result_url + '&k-results=' + document.getElementById('k').value;
			return result_url;
		}

		var add_pagepile_id = function(data) {
			var ppid = data['pile']['id'];
			sessionStorage.setItem("page-pile", ppid);
			$("#links").empty();
			$("#links").append('<li>Starting query: ' + generate_permalink() + "</li>");
			var pphtml = '<li><a href="https://pagepile.toolforge.org/api.php?action=get_data&id=' + ppid  + '" target="_blank">Pagepile ID ' + ppid + '</a>';
			pphtml += ' (or view it on <a href="https://petscan.wmflabs.org/?pagepile=' + ppid + '" target="_blank">Petscan</a> or <a href="https://pageviews.wmcloud.org/massviews/?source=pagepile&target=' + ppid + '" target="_blank">Massviews</a>)</li>';
			$("#links").append(pphtml);
		}

		var generate_pagepile = function(source) {
			pagepile_url = 'https://pagepile.toolforge.org/api.php';
			var data = {'action': 'create_pile_with_data'};
			if (source == 'wikidata' || document.getElementById('lang').value == 'wikidata') {
				data['wiki'] = 'wikdatawiki';
				// each line is tab-delimited and contains the page title optionally followed by namespace (or -999 for auto-detect)
				data['data'] = get_qids().map(q => q + '\t0').join('\n');
			} else if (source == 'wikipedia') {
				data['wiki'] = document.getElementById('lang').value + 'wiki';
				data['data'] = get_titles().map(t => t + '\t0').join('\n');
 			}
			$.ajax(pagepile_url, {
				data: data,
				method: 'POST',
				success: add_pagepile_id.bind(this),
				error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
				}
			);
		}

		var get_qids = function() {
			var qids = [];
			var table = $('#results-table').DataTable();
			if (table) {
				table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
					var d = this.data();
					if (d["Item ID"]['sort'] > 0) {
						qids.push('Q' + d["Item ID"]['sort']);
					}
				} );
			}
			return qids
		}

		var get_titles = function() {
			var pages = [];
			var table = $('#results-table').DataTable();
			if (table) {
				table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
					var d = this.data();
					var pagetitle = d["Page"]['name'];
					if (!pagetitle.endsWith('(redlink)')) {
						pages.push(pagetitle);
					}
				} );
			}
			return pages
		}


		var render_list = function(data) {
			var source_to_explanation = {'reader':'read in similar sessions', 'links':'link to similar articles', 'morelike':'contain similar words'}
			if ("qid" in data) {
				sessionStorage.setItem("seed-qid", data["qid"]);
			}
			if (data["results"].length > 0) {
				var table_data = [];
				var lang = document.getElementById('lang').value;
				if (lang == 'wikidata') {
					lang = 'en';
				}
				var seen_pages = JSON.parse(sessionStorage.getItem("pages"));
				var reader_offset = parseInt(sessionStorage.getItem('offset-reader'));
				var links_offset = parseInt(sessionStorage.getItem('offset-links'));
				var morelike_offset = parseInt(sessionStorage.getItem('offset-morelike'));
				for (var p_idx in data["results"]) {
					var r_source = data["results"][p_idx]["source"];
					if (r_source == 'reader') {
						reader_offset++;
					} else if (r_source == 'links') {
						links_offset++;
					} else if (r_source == 'morelike') {
						morelike_offset++;
					}
					var page = (data["results"][p_idx]["qid"]) ? data["results"][p_idx]["qid"] : data["results"][p_idx]["page_title"];
					if (!seen_pages.includes(page)) {
						seen_pages.push(page);
						var row = {};
						if (data["results"][p_idx]["redlink"]) {
							var display_title = data["results"][p_idx]["page_title"] + " (redlink)";
							var page_title = display_title;
						} else {
							var display_title = '<a href="https://' + lang + '.wikipedia.org/wiki/' + data["results"][p_idx]["page_title"] + '">' + data["results"][p_idx]["page_title"] + "</a>";
							var page_title = data["results"][p_idx]["page_title"];
						}
						row['Page'] = {'display': display_title, 'sort':reader_offset + links_offset + morelike_offset, 'name':page_title};
						if (data["results"][p_idx]["qid"]) {
							row['Item ID'] = {'display': '<a href="https://wikidata.org/wiki/' + data["results"][p_idx]["qid"] + '">' + data["results"][p_idx]["qid"] + '</a>', 'sort': parseInt(data["results"][p_idx]["qid"].substring(1))};
						} else {
							row['Item ID'] = {'display':'No Item', 'sort':-1}
						}
						row['Description'] = data["results"][p_idx]["description"] || "";
						row['Explanation'] = {'display':source_to_explanation[data["results"][p_idx]["source"]], 'filter':data["results"][p_idx]["source"]};
						table_data.push(row);
					}
				}
				if ( ! $.fn.DataTable.isDataTable( '#results-table' ) ) {
					var table_html = '<table id="results-table" class="display">';
					table_html += '<thead><tr><th>Wikipedia Article (' + lang + ')</th><th>Wikidata Item</th><th>Description</th><th>Why Similar?</th></tr></thead>';
					table_html += '</table>';
					$("#results").append(table_html);
					var table = $('#results-table').DataTable( {
						columns: [
							{data: "Page", "render": {sort: "sort", display: "display", _: "sort"}},
							{data: "Item ID", visible: true, "render": {sort: "sort", display: "display", _: "sort"}},
						    {data: "Description", visible: true},
							{data: "Explanation", visible: true, "render": {display: "display", filter: "filter", _: "display"}},
						],
						searching: false,
						paging: false,
						scrollY: '600px',
						scrollCollapse: true,
						order: [[0, 'asc']],
						select: {
							style: 'multi'
						},
						dom: 'Bfrtip',
						buttons: [
							'colvis',
							{
								text: 'Remove selected pages',
								action: function () {
									table.rows({selected: true}).remove().draw();
								}
							},
							{
								text: 'Get next set',
								action: function ( e, dt, node, config ) {
									queryListBuildingModels();
								}
							},
							{
								extend: 'copy',
								text: 'Copy table',
								title: 'Starting query: ' + generate_permalink(),
								exportOptions: {
									columns: ':visible'
								}
							},
							{
								text: 'Save articles to Pagepile',
								action: function ( e, dt, node, config ) {
									generate_pagepile('wikipedia');
								}
							},
							{
								text: 'Save items to Pagepile',
								action: function ( e, dt, node, config ) {
									generate_pagepile('wikidata');
								}
							}
						]
					} );
				}
				// append new data
				$('#results-table').DataTable().rows.add(table_data).draw();
				sessionStorage.setItem("offset-reader", reader_offset);
				sessionStorage.setItem("offset-links", links_offset);
				sessionStorage.setItem("offset-morelike", morelike_offset);	
				sessionStorage.setItem("pages", JSON.stringify(seen_pages));
			}			
		}

		function clear_or_get_qid() {
			var lang = document.getElementById('lang').value;
			var title = document.getElementById('page_title').value;
			var query_page = "https://" + lang + ".wikipedia.org/wiki/" + title;
			if (lang == 'wikidata') {
				query_page = 'https://www.wikidata.org/wiki/' + title;
			}
			var results_page = sessionStorage.getItem("seed-page");
			if (query_page == results_page) {
				return sessionStorage.getItem("seed-qid");
			} else {
				$("#results").empty();
				sessionStorage.clear();
				sessionStorage.setItem("seed-page", query_page);
				sessionStorage.setItem("offset-reader", 0);
				sessionStorage.setItem("offset-links", 0);
				sessionStorage.setItem("offset-morelike", 0);
				sessionStorage.setItem("pages", JSON.stringify(new Array()));
				$("#results").append('<h3><a href="' + query_page + '">' + lang + ":" + title + '</a></h3>');
				$("#results").append('<div id="links"><li>Starting query: ' + generate_permalink() + "</li></div>");
				return "";
			}
		}

		var update_title = function(data) {
			document.getElementById('page_title').value = data['query']['random'][0]['title'];
			document.getElementById('page_title').parentNode.className = 'placeholder';
		}

		function get_offsets() {
			var reader_offset = parseInt(sessionStorage.getItem('offset-reader'));
			var links_offset = parseInt(sessionStorage.getItem('offset-links'));
			var morelike_offset = parseInt(sessionStorage.getItem('offset-morelike'));
			var offset_html = "";
			if (reader_offset > 0) {offset_html += "&offset-reader=" + reader_offset};
			if (links_offset > 0) {offset_html += "&offset-links=" + links_offset};
			if (morelike_offset > 0) {offset_html += "&offset-morelike=" + morelike_offset};
			return offset_html;
		}

		function get_ks() {
			var k = document.getElementById('k').value;
			var reader_kept = 0;
			var links_kept = 0;
			var morelike_kept = 0;

			var reader_k = Math.round(k / 3);
			var links_k = Math.round(k / 3);
			var morelike_k = k - reader_k - links_k;
			if ( $.fn.DataTable.isDataTable( '#results-table' ) ) {
				var table = $('#results-table').DataTable();
				table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
					var d = this.data();
					if (d["Explanation"]['filter'] == 'reader') {
						reader_kept++;
					} else if (d["Explanation"]['filter'] == 'links') {
						links_kept++;
					} else if (d["Explanation"]['filter'] == 'morelike') {
						morelike_kept++;
					}
				} );
				var num_rows = reader_kept + links_kept + morelike_kept + 3;  // reserve at least one slot for each API
				reader_kept = reader_kept / num_rows;
				links_kept = links_kept / num_rows;
				morelike_kept = morelike_kept / num_rows;

				reader_k = 1 + Math.round(k * reader_kept);
				links_k = 1 + Math.round(k * links_kept);
				morelike_k = 1 + Math.round(k * morelike_kept);
			}

			var offset_html = "";
			if (reader_k > 0) {offset_html += "&k-reader=" + reader_k};
			if (links_k > 0) {offset_html += "&k-links=" + links_k};
			if (morelike_k > 0) {offset_html += "&k-morelike=" + morelike_k};
			return offset_html;
		}

		function queryListBuildingModels() {
			var lang = document.getElementById('lang').value;
			if (lang && !document.getElementById('page_title').value) {
				if (lang == 'wikidata') {
					var randomPageQueryURL = "https://www.wikidata.org/w/api.php?action=query&format=json&list=random&rnlimit=1&rnnamespace=0&origin=*";
				} else {
					var randomPageQueryURL = "https://" + lang + ".wikipedia.org/w/api.php?action=query&format=json&list=random&rnlimit=1&rnnamespace=0&origin=*";
				}
				$.ajax(randomPageQueryURL, {success: update_title.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
							  async: false
							  }
				  );
			}
			// Local development: http://127.0.0.1:5000/api/serpentine?lang=
			var listUrl = "https://list-building.toolforge.org/api/serpentine?lang=" + lang + "&title=" + document.getElementById('page_title').value + "&qid=" + clear_or_get_qid() + get_offsets() + get_ks();
			$.ajax(listUrl, {success: function(jqxmlhr, status, error){render_list(jqxmlhr)},
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
							  }
				  );

	    }
	</script>

</body>

</html>
