<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>List-Building</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./static/style.css" />

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<h1>List-Building Comparison</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool allows one to compare outputs from various list-building models for Wikipedia articles.</p>
						<p>Enter a language code and Wikidata item ID below to see what the model thinks are related articles. If you leave the item ID field blank, the UI will select a random article in that language to evaluate.</p>
						<p>Label any or all of the resulting articles as related ("Keep") or unrelated ("Discard") and update the model. Refresh to start over.</p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="list-building-models" class="boxwidth--1-1 padded--left padded--right">
			<main id="tool_main">
				<div id="seed"></div>
				<section class="form">
					<form action="#list-building-models">
						<div class="cols cols8">
							<div class="col col2">
								{% if lang %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en</span>
									<input type="text" value="{{lang}}" placeholder="Placeholder text" id="lang"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en</span>
									<input type="text" value="" placeholder="Placeholder text" id="lang"/>
								</label>
								{% endif %}
							</div>
							<div class="col col2">
								{% if qid %}
								<label class="placeholder"><span class="field_name">Wikidata ID -- e.g., Q42</span>
									<input type="text" value="{{qid}}" placeholder="Placeholder text" id="item_id"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Wikidata ID -- e.g., Q42</span>
									<input type="text" value="" placeholder="Placeholder text" id="item_id"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								{% if k %}
								<label class="placeholder"><span class="field_name"># of results</span>
									<input type="number" value="{{k}}" placeholder="Placeholder text" id="k"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name"># of results</span>
									<input type="number" value="" placeholder="Placeholder text" id="k"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Submit" id="btnSubmit"/>
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Update" style="visibility:hidden" id="btnResubmit"/>
							</div>
						</div>
					</form>
				</section>
				<section id="results">
					<div class="cols cols3">
						<div class="col col2">
							<section class="text" id="content-based-results">
								<!-- Empty section to hold results -->
							</section>
						</div>
						<div class="col col1">
							<section class="text" id="all-retained">
								<!-- Empty section to hold retained articles -->
							</section>
						</div>

					</div>
				</section>
			</main>
		</section>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/list-building-interface">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Language-Agnostic_Topic_Classification">Meta</a></li>
				<li><a href="https://github.com/geohci/list-building-interface#license">License</a></li>
			</ul>
		</div>
	</footer>


	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form label.placeholder').each(function() {
				if (!$('input, textarea, select', this).val()) {
	 				$(this).addClass('off');
				}
				$(this).on('focusin', function() {
					$(this).removeClass('off');
				});
				$(this).on('focusout', function() {
					if (!$('input, textarea, select', this).val()) {
						$(this).addClass('off');
					}
				});
				$('*[placeholder]', this).attr('placeholder', '');
			});
		});
	</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryListBuildingModels();
		});

		$('#btnResubmit').click(function (e) {
			e.preventDefault(); requery();
		});

		var article_list = new Set();

		var render_error = function(divid, label) {
			$("#" + divid).empty();
			$("#" + divid).append('<br><p>Error collecting data. Try another QID.</p>');
		}


		var render_list = function(data, divid, label) {
			$("#" + divid).empty();
			if ("Error" in data) {
				$("#" + divid).append('<br><p>' + data["Error"] + '</p><p>Try another QID.</p>');
				$("#btnResubmit")[0].style.visibility = "hidden";
				$("#btnSubmit")[0].style.visibility = "visible";
			}
			else {
			  	if (data.length > 0) {
			  		$("#btnResubmit")[0].style.visibility = "visible";
			  		$("#btnSubmit")[0].style.visibility = "hidden";
			  		var table_data = [];
					var table_html = '<table id="list-table">';
					table_html += '<thead><tr><th>QID</th><th>Title</th><th>Score</th><th>Action</th></tr></thead>';
					table_html += '</table>';
					$("#" + divid).append(table_html);
					for (var idx in data) {
						if (idx >= parseInt(document.getElementById('k').value)) {
							break;
						}
						if (!article_list.has(data[idx]['qid'])) {
							var row = {};
							row['QID'] = '<a href="https://www.wikidata.org/wiki/' + data[idx]['qid'] + '">' + data[idx]['qid'] + '</a>';
							if (data[idx]['title'] == '-') {
								row['Title'] = {'sort':'ZZ' + data[idx]['qid'], 'display':'Article missing'};
							} else {
								row['Title'] = {'sort':data[idx]['title'], 'display':'<a href="https://' + document.getElementById('lang').value + '.wikipedia.org/wiki/' + data[idx]['title'] + '">' + data[idx]['title'].replaceAll('_', ' ') + '</a>'};
							}
							row['Score'] = Number(Math.round(data[idx]['score'] + 'e3') + 'e-3');
							row['Action'] = '';
							table_data.push(row);
						}
					}
					var actions = ["", "Keep", "Discard", "Uncertain"];
					$('#list-table').DataTable( {
						"data": table_data,
						"columns": [{'data': "QID"},
									{'data': "Title", "render": {
									  "sort": "sort",
									  "display": "display"
										}
									},
									{'data': "Score"},
									{'data': "Action", "render": function(d,t,r){
										var $select = $("<select></select>", {
											"id": r[0] + "-action",
											"value": d
										});
										$.each(actions, function(k,v){
											var $option = $("<option></option>", {
												"text": v,
												"value": v
											});
											if(d === v){
												$option.attr("selected", "selected")
											}
											$select.append($option);
										});
										return $select.prop("outerHTML");
									}
									}],
						"searching": false,
						"scrollY": "600px",
						"paging": false,
						"order": [2, 'desc']
					} );
				} else {
					$("#" + divid).append("<p>No similar articles found.</p>");
			  	}
			}
		}

		function requery() {
			var table = document.getElementById('list-table');
			var rowLength = table.rows.length;
			var keep = Array();
			var titles = Array();
			var toss = Array();
			for (i = 1; i < rowLength; i++) {
				var user_input = table.rows[i].cells[3].childNodes[0].value;
				var row_qid = table.rows[i].cells[0].childNodes[0].innerText;
				if (user_input == 'Keep') {
					keep.push(row_qid);
					titles.push({'display':table.rows[i].cells[1].childNodes[0].outerHTML, 'sort':table.rows[i].cells[1].childNodes[0].innerText});
					article_list.add(row_qid);
				} else if (user_input == 'Discard') {
					toss.push(row_qid);
					article_list.add(row_qid);
				}
			}
			var full_list = $('#full-list-table').DataTable();
			for (var i in keep) {
				full_list.row.add({'QID':keep[i], 'Title':titles[i]});
			}
			full_list.draw();

			var contentQueryUrl = "https://content-similarity-outlinks.wmcloud.org/api/v1/outlinks-interactive?lang=" + document.getElementById('lang').value + "&qid=" + document.getElementById('item_id').value + "&k=" + document.getElementById('k').value + "&pos=" + keep.join('|') + "&neg=" + toss.join('|') + "&skip=" + Array.from(article_list).join('|');
			$("#content-based-results").empty();
			$("#content-based-results").append("<p>Processing...</p>");
			$.ajax(contentQueryUrl, {success: function(jqxmlhr, status, error){render_list(jqxmlhr, 'content-based-results', 'Content-based')},
							  error: function(jqxmlhr, status, error){render_error('content-based-results', 'Content-based')},
							  }
				  );
		}

		var update_item = function(data) {
			if ('wikibase_item' in data['query']['pages'][0]['pageprops']) {
				document.getElementById('item_id').value = data['query']['pages'][0]['pageprops']['wikibase_item'];
			} else {
			    document.getElementById('item_id').value = data['query']['pages'][1]['pageprops']['wikibase_item'];
			}
			document.getElementById('item_id').parentNode.className = 'placeholder';
		}

		var update_info = function(data, qid) {
			$("#seed").empty();
			$("#seed").append('<h3><a href="' + data['entities'][qid]['sitelinks'][document.getElementById('lang').value + 'wiki']['url'] + '">' + document.getElementById('lang').value + ':' + data['entities'][qid]['sitelinks'][document.getElementById('lang').value + 'wiki']['title'] + '</a></h3>');
		}

		function initialize_results_table() {
			$("#all-retained").empty();
			var table_html = '<table id="full-list-table">';
			table_html += '<thead><tr><th>QID</th><th>Title</th></tr></thead>';
			table_html += '</table>';
			$("#all-retained").append(table_html);
			$('#full-list-table').DataTable( {
				"data": [],
				"columns": [{'data': "QID"},
							{'data': "Title", "render": {
							  "sort": "sort",
							  "display": "display"
							}}],
				"searching": false,
				"scrollY": "600px",
				"paging": false,
			} );
		}

		function queryListBuildingModels() {
			if (document.getElementById('lang').value && !document.getElementById('item_id').value) {
				// https://www.mediawiki.org/wiki/API:Cross-site_requests#JSONP_usage
				var randomPageQueryURL = "https://" + document.getElementById('lang').value + ".wikipedia.org/w/api.php?action=query&format=json&formatversion=2&generator=random&grnlimit=2&grnnamespace=0&prop=pageprops&origin=*";
				$.ajax(randomPageQueryURL, {success: update_item.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
							  async: false
							  }
				  );
			}
			var qid;
			var contentQueryUrl;
			if (document.getElementById('item_id').value.includes('|')) {
				var qids = document.getElementById('item_id').value.split('|');
				qid = qids[0];
				contentQueryUrl = "https://content-similarity-outlinks.wmcloud.org/api/v1/outlinks-interactive?lang=" + document.getElementById('lang').value + "&qid=" + qid + "&k=" + document.getElementById('k').value + "&pos=" + qids.slice(1,).join('|');
				qids.forEach(article_list.add, article_list)
			} else {
				qid = document.getElementById('item_id').value;
				contentQueryUrl = "https://content-similarity-outlinks.wmcloud.org/api/v1/outlinks-interactive?lang=" + document.getElementById('lang').value + "&qid=" + document.getElementById('item_id').value + "&k=" + document.getElementById('k').value;
				article_list.add(document.getElementById('item_id').value);
			}
			console.log(article_list);
			console.log(contentQueryUrl);

			var pageTitleURL = "https://www.wikidata.org/w/api.php?action=wbgetentities&ids=" + qid + "&props=sitelinks/urls&sitefilter=" + document.getElementById('lang').value + "wiki&format=json&formatversion=2&origin=*";
			$.ajax(pageTitleURL, {success: function(jqxmlhr, status, error){update_info(jqxmlhr, qid)},
						  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
						  }
			  );


			$.ajax(contentQueryUrl, {success: function(jqxmlhr, status, error){render_list(jqxmlhr, 'content-based-results', 'Content-based')},
							  error: function(jqxmlhr, status, error){render_error('content-based-results', 'Content-based')},
							  }
				  );
			initialize_results_table();
	    }
	</script>

</body>

</html>